@import './css/reset.css';

:root {
  --primary-color: #e45560;
  --accent-color: #173e5b;
  --glacial-font: 'Glacial Indifference', sans-serif;
  --coolvetica-font: coolvetica, sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* stylelint-enable */

body {
  font-family: var(--glacial-font);
  background-color: white;
}

.agenda {
  background: url(./assets/img/trapees.svg) right -1rem/218.28px 522.69px no-repeat;
}

.header-sub {
  height: 20vh;
  display: grid;
  grid-template-columns: 1fr 1fr 9fr 1fr 1fr;
  grid-template-rows: 2fr 9fr 0;
  grid-template-areas: '. . . . .' '. nav logo search .' '. . arrow datum .';
}

.header {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 9fr 1fr 1fr;
  grid-template-rows: .5fr 9fr 1.2fr;
  grid-template-areas: '. . . . .' '. nav logo search .' '. . arrow datum .';
  background:
    url(./assets/img/hero.svg) left bottom/80rem 80rem no-repeat,
    url(./assets/img/stripes1.svg) left top/57.99px 554.38px no-repeat;
}

.nav {
  grid-area: nav;
  font-family: var(--coolvetica-font);
}

.nav-link-item {
  text-decoration: none;
  font-size: 2rem;
  line-height: 2.5rem;
  color: black;
}

.nav-link-item__active {
  color: var(--primary-color);
}

.nav-link-item:hover {
  color: var(--primary-color);
}

.search {
  grid-area: search;
  display: flex;
  flex-direction: row-reverse;
}

.datum {
  grid-area: datum;
  display: flex;
  flex-direction: row-reverse;
  font-family: coolvetica, sans-serif;
  text-align: right;
  font-size: 2rem;
  line-height: 2.5rem;
}

.datum_maand {
  font-size: 3rem;
}

.arrow {
  grid-area: arrow;
  justify-self: center;
}

.logo {
  grid-area: logo;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5rem;
}

.logo-title {
  font-family: coolvetica, sans-serif;
  font-size: 6rem;
}

.logo_int {
  font-size: 2rem;
  line-height: .5rem;
}

.logo_int-fix {
  font-size: 2rem;
  margin-top: -2rem;
}

.a-right {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 1rem;
}

.sub {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.divider {
  margin-top: 0;
  border: 1rem solid var(--primary-color);
}

.accentkleur {
  color: var(--primary-color);
}

.tussentitle {
  text-align: center;
  font-family: var(--coolvetica-font);
  font-size: 3rem;
  padding: 2rem 0;
}

.uitgelicht-grid-container {
  width: 69%;
  margin: 0 auto;
  height: 60rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'big big big' '. . .';
  grid-gap: 15px;
}

.uitgelicht-big {
  grid-area: big;
  background-color: #e45560;
}

.act-link {
  text-decoration: none;
  color: white;
  font-family: var(--glacial-font);
}

.act-link:hover {
  text-decoration: underline;
  color: white;
  font-family: var(--glacial-font);
}

.bold {
  font-weight: bold;
}

.act-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;
  grid-template-areas: 'pic' 'info';
}

.act-pic {
  grid-area: pic;
  width: 100%;
  height: 20rem;
  object-fit: cover;
  opacity: 1;
  transition: opacity .2s;
  font-size: 0;
}

.act-pic-agenda {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  font-size: 0;
}

.act-info {
  grid-area: info;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 .5rem;
  background-color: #e45560;
}

.act-info__dag {
  padding-top: 1rem;
  font-size: 1rem;
  text-transform: capitalize;
}

.act-info__title {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

.aftermovie {
  margin: 3rem;
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.aftermovie-movie {
  margin: auto;
}

.insta-grid-container {
  display: grid;
  grid-template-columns: auto-fill;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: '. . . . .' '. . . . .';
  width: 80rem;
  height: 30rem;
  margin: 3rem auto;
}

.insta-text {
  font-family: coolvetica, sans-serif;
  text-align: center;
  font-size: 1.5rem;
}

.footer {
  background-color: var(--accent-color);
}

.footer-grid-container {
  width: 69%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'footer-nav . footer-info';
  padding: 2rem;
}

.footer-nav {
  grid-area: footer-nav;
  color: white;
}

.footer-info {
  grid-area: footer-info;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.border {
  border: var(--accent-color) solid 1px;
}

.error {
  color: white;
  text-align: center;
}

.form-wrapper {
  background-color: var(--primary-color);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.white {
  color: white;
  letter-spacing: .1rem;
}

.form-text {
  font-family: coolvetica, sans-serif;
  text-align: center;
  font-size: 1.5rem;
  margin-top: -1rem;
}

.input {
  border-radius: .9rem;
  padding: .4rem .6rem;
  width: 20rem;
  text-align: center;
  border: transparent solid 1px;
}

.form {
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}

.submit-button {
  width: 10rem;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
  margin-left: 1rem;
  box-shadow: none;
  background-color: var(--accent-color);
  border: none;
  border-radius: 2rem;
  color: white;
}

.detail01-grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'detail01-foto detail01-details' 'detail01-uitleg detail01-uitleg';
  width: 96rem;
  height: 65rem;
  font-family: var(--coolvetica-font);
  margin: 0 auto;
  padding-top: 2rem;
}

.detail01-foto {
  grid-area: detail01-foto;
  background-color: purple;
}

.detail01-details {
  grid-area: detail01-details;
  margin: 1rem;
}

.detail01-uitleg {
  grid-area: detail01-uitleg;
}

.detail01-details__title {
  font-size: 4rem;
  padding: 2rem 0 0 2rem;
}

.detail01-details__para {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  font-size: 2rem;
  padding: 2rem 0 2rem 2rem;
}

.para-data {
  font-family: var(--glacial-font);
  text-transform: capitalize;
  padding: .2rem 0 2rem;
}

.detail01-uitleg__text {
  font-family: var(--glacial-font);
  padding: 2rem 0 0 2rem;
  width: 65%;
  font-size: 1.5rem;
}

.acts-grid {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: '. . . ';
  grid-gap: 2rem;
  width: 70%;
  margin: 3rem auto;
}

.acts-grid_item {
  width: 20rem;
  height: 20rem;
}

.filter-input {
  visibility: hidden;
}

.button {
  text-decoration: none;
  background-color: var(--accent-color);
  font-family: var(--coolvetica-font);
  padding: .5rem 1rem;
  color: white;
  border-radius: .4rem;
  font-size: 1.5rem;
  display: inline-block;
  text-align: center;
  margin: 2rem;
}

.a-center {
  margin: auto;
  text-align: center;
}

.filter-label {
  cursor: pointer;
  color: var(white);
  font-family: var(--glacial-font);
}

.filter-label_categorie {
  font-size: 1.6rem;
  margin-left: -2rem;
}

.filter-input:checked + .filter-label_categorie {
  color: #e45560;
}

.filter__form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  font-size: 2rem;
  padding-bottom: 9rem;
}

.filter-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr 1fr .5fr 1fr;
  grid-template-areas:
    'filter-search filter-search filter-search filter-search'
    'filter-dagen filter-dagen filter-dagen filter-dagen'
    'filter-categorie filter-categorie filter-categorie filter-categorie'
    'filter-location filter-location filter-location filter-location'
    'filter-submit filter-submit filter-submit filter-submit';
  width: 50rem;
  height: 30rem;
  grid-gap: 1.5rem;
  margin: 0 auto;
  padding-left: 8.5rem;
}

.filter-search {
  grid-area: filter-search;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.filter-categorie {
  grid-area: filter-categorie;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2.5rem;
}

.filter-location {
  grid-area: filter-location;
  background-color: #e45560;
  text-align: center;
  border: none;
}

.filter-dagen {
  grid-area: filter-dagen;
}

.filter-submit {
  grid-area: filter-submit;
  background-color: #e45560;
}

.dagen-style {
  background-color: #e45560;
  padding: 2rem;
  justify-self: center;
  border: var(--primary-color) solid .5rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.dagen-style:hover {
  border: var(--accent-color) solid .5rem;
}

.filter-input:checked + .dagen-style {
  border: var(--accent-color) solid .5rem;
}

.dagen-container {
  display: flex;
  justify-content: center;
}

.big {
  height: 2rem;
  padding: 1rem 0;
  font-style: italic;
}

.detail-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 70%;
  margin: 0 auto;
  border-bottom: solid 1.5rem black;
  font-family: var(--coolvetica-font);
  font-size: 4rem;
  margin-top: 2rem;

  & h3 {
    font-size: 6rem;
  }

  & p {
    color: var(--primary-color);
  }
}

@media all and (max-width: 690px) {

  .agenda {
    background: none;
  }

  .acts-grid {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: '. . ';
  }

  .act-pic {
    height: 10rem;
  }

  .logo-title {
    transform: scale(.5);
  }
}
